{% extends 'stv/base.html' %}
{% load crispy_forms_tags %}
{% block title%}تغییر رمز{%endblock%}
{% block titlebrow %}تغییر رمز{%endblock%}
{% block main %}
<div class="col-lg-12 mb-0 float-left">
  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">

    </div><!-- /.box-header -->
    <div class="card-body">
      <form method="post">{% csrf_token %}
        <h4 class="pad text-center alert alert-success ">پسورد شما با موفقیت تغییر یافت</h4>
      </form>
    </div>
  </div>
</div>
{% endblock %}
